.additionally-info {
  border: none;
  margin: 0;
  padding: 0;
}

.additionally-info__name {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @basic-black;
}

.additionally-info__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additionally-select__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;
}
