.for-example {
  min-width: 320px;
  margin: 0 auto;
  background: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    min-width: 708px;
    border-top: 1px solid @dark-grey;
    background: linear-gradient(@basic-white 57%, @basic-grey 43%);
  }

  @media (min-width: @desktop-width) {
    width: 1260px;
    padding: 0  70px 0 110px;
    border: 0;
    background: linear-gradient(to top, @basic-grey 70%, @basic-white 30%);
    min-height: 650px;
  }
}

.for-example__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0;
    max-width: 100%;
    min-height: 619px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px;
    margin: 0;
    max-width: 100%;
    margin-top: -10px;
  }
}

.for-example__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: @basic-black;
  padding: 0 20px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 63px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    margin-top: 53px;
  }
}

.for-example__phrase {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 20px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    min-height: 96px;
    grid-column: 1;
    margin-top: 40px;
  }
}


.for-example__slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 708;
    min-height: 665px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    min-height: 600px;
    grid-column: 2;
    grid-row: 2/-1;
  }
}

.for-example__window-slider {
  width: 320px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 354px;
    min-height: 552px;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
  }
}

.for-example__window-slider:first-child {
  @media (min-width: @desktop-width) {
    width: 405px;
  }
}


.for-example__img-fat-cat {
  width: 311px;
  height: 232px;
  position: relative;
  left: 0;
  top: 5px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 677px;
    height: auto;
    left: 16px;
    top: 30px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    left: 40px;
    top: 0;
  }
}

.for-example__img-slim-cat {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 545px;
    height: auto;
    position: relative;
    right: 247px;
    top: 30px;
  }

  @media (min-width: @desktop-width) {
    right: 275px;
    top: 0;
  }
}
