.nutrition-info__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nutrition-info__name {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @special-dark-grey;
}

.nutrition-info__description {
  .nutrition-info__name ();
}
