.nutrition-program {
  border: none;
  border-top: 1px solid @border-grey-color;
  border-bottom: 1px solid @border-grey-color;
}

.nutrition-program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nutrition-program__form__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @most-dark-grey;
  text-transform: uppercase;
}
