.owner-cat {
  padding: 0;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-top: 45px;
    width: 100%;
  }
}

.owner-cat__wrapper-heading {
  position: relative;
}

.owner-cat__wrapper-heading::before {
  position: absolute;
  content: "";
  background-color: @basic-green;
  min-width: 70%;
  height: 2px;
  right: 0;
  top: 15px;
  z-index: -2;

  @media (min-width: @tablet-width) {
    min-width: 100%;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    top: 22px;
  }
}

.owner-cat__heading-position {
  margin-top: 25px;
  margin-bottom: 0;
  width: 70%;

  @media (min-width: @tablet-width) {
    width: 90%;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.owner-cat__heading {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: @basic-black;
  background-color: @basic-white;
  display: block;
  width: 200px;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 555px;
    padding-left: 38px;
    margin-left: -38px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
    padding-right: 35px;
  }
}


.owner-cat__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
    margin-bottom: 0;
    padding: 0 66px 0 70px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    margin-top: 76px;
  }
}

.owner-cat__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: @desktop-width) {
    min-height: 52px;
    width: 47%;
    padding-bottom: 20px;
  }
}

.owner-cat__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special-dark-grey;
  text-transform: uppercase;
  margin-top: 10px;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
    margin-top: 0;
  }
}

.owner-cat__input {
  flex-grow: 1;
  height: 46px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border: 2px solid @dark-grey;
  padding-left: 14px;
  outline: none;
  line-height: 46px;


  &::placeholder {
    font-family: "Oswald-regular", "Arial", sans-serif;
    .owner-cat__label();
  }

  &:focus {
    border: 2px solid @basic-black;
  }

  @media (min-width: @tablet-width) {
    height: 51px;
    margin: 0;
    margin-left: 18px;
    padding-left: 20px;
    margin-top: 2px;
    line-height: 51px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.owner-cat__item:last-child .owner-cat__input {
  @media (min-width: @tablet-width) {
    margin-left: 14px;
    margin-top: 22px;
    padding-left: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.owner-cat__item:last-child .owner-cat__label {
  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}


.owner-cat__input:focus + .owner-cat__icon-mail,
.owner-cat__input:focus + .owner-cat__icon-phone {
  color: @basic-green;
  fill: none;
}


.owner-cat__icon-mail,
.owner-cat__icon-phone {
  color: @basic-black;
  fill: none;
  position: absolute;
  top: 25px;
  right: 35px;

  @media (min-width: @tablet-width) {
    right: 16px;
    top: 21px;
  }


  @media (min-width: @desktop-width) {
    right: 19px;
    top: 21px;
  }
}

.owner-cat__icon-phone {
  @media (min-width: @tablet-width) {
    top: 37px;
  }

  @media (min-width: @desktop-width) {
    top: 17px;
  }
}

.owner-cat__input--no-valid,
.owner-cat__input--no-valid + .owner-cat__icon-mail,
.owner-cat__input--no-valid + .owner-cat__icon-phone {
  border-color: @color-required;
  color: @color-required;
  fill: none;
}
