
.promo {
  margin: 0 auto;
  max-width: 563px;
  min-width: 320px;
  min-height: 480px;
  background-image: url("../img/background-cat.jpg");
  background-position: top left 65%;
  background-repeat: no-repeat;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-cat@2x.jpg");
    background-size: auto 302px;
    background-position: top left 65%;
    overflow: hidden;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 30px 0 30px;
    min-height: 850px;
    background: none;
    max-width: 90%;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    padding: 0;
    min-height: 500px;
    margin-bottom: 165px;
  }
}

.promo__wrapper-fill {
  background: @green-bg-fill;
  max-width: 563px;
  height: 302px;


  @media (min-width: @tablet-width) {
    background: none;
    max-width: 1220px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    max-width: 1220px;
    position: static;
  }
}

.promo__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic-white;
  width: 249px;
  min-height: 72px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 414px;
    min-height: 120px;
    margin: 39px 0 40px 80px;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 118px;
    margin-left: 80px;
  }
}

.promo__phrase {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @basic-white;
  margin: 0 auto 29px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 0 20px 80px;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.promo__picture {
  width: 280px;
  height: 270px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    top: 240px;
    left: -10px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: 140px;
    right: -240px;
  }
}

.promo__picture img {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  min-width: 280px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @basic-green;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-white;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  &:hover {
    background-color: @hover-basic-green;
  }

  &:active {
    color: @transparent-white;
  }
}

.promo__button-position {
  margin: 0 7%;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 266px;
    left: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    position: static;
    width: 100px;
    margin-top: 30px;
  }
}
