.promo {
  width: 320px;
  margin: 0 auto;
}

.promo__cat-background {
  background-image: url("../img/cat-background.jpg");
  background-repeat: no-repeat;
  height: 302px;
  width: 320px;
}

.promo__cat-background-fill {
  background: @green-bg-fill;
  width: 100%;
  min-height: 100%;
}

.promo__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic-white;
}

.promo__phrase {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: @basic-white;
}

.promo__button {
  background-color: @basic-green;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-white;
  text-decoration: none;
  text-transform: uppercase;
}
