.result-calculator {
  width: 280px;
}

.result-calculator__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;
}

.result-calculator__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.result-calculator__number-string {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;
}

.result-calculator__description-string {
  .result-calculator__number-string();
}
