.selection-form {
  margin: 0 auto;
  width: 320px;
}

.selection-form__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @basic-black;
}

.selection-form__phrase {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;
}


.selection-form__button-send {
  background: @basic-green;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-white;
}

.selection-form__stats-legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @basic-black;
}
