.special-offer__wrapper {
  background-image: url("../img/special-offer-background.png");
  background-repeat: no-repeat;
  width:280px;
  height: 289px;
}

.special-offer__phrase {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-white;
}
