.text-info {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 28px 0 26px 0;

  @media (min-width: @tablet-width) {
    width: 625px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 66px 41px 51px 41px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 201px;
    box-sizing: border-box;
    position: absolute;
    background-color: @basic-white;
    z-index: 2;
    margin-top: 155px;
    margin-left: 110px;
    padding: 54px 89px 51px 76px;
  }
}

.text-info__heading {
  width: 139px;
  min-height: 60px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.text-info___address {
  width: 140px;
  min-height: 60px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
  }
}

.text-info__street {
  margin: 0;
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.text-info__city {
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: end;
    margin-top: 10px;
  }
}
